
/*container*/
.container-fluid{
  
    padding: 7% 15%;
}
/*sections*/
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: white;

}

body{
    font-family: 'Montserrat ',sans-serif;
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    
 }
 
p{
    color: #8f8f8f;
}
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
     font-size: 3.5rem;
     line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;

}


/*navbar*/
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat light',sans-serif;
}

.navbar-brand{
    font-family: 'Ubuntu',sans-serif;
    font-size: 2.5rem ;
    font-weight: bold;
}

/*download button*/

.download-button{
    margin: 5% 3% 5% 0;
}
/*title*/

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

/*title image*/
.title-image{
    width: 60%;
    transform: rotate(25deg);
    right: 30%;
    position: absolute;
}

/*features*/

#features {
    position:relative;
}

.feature-title{
 font-size: 1.5rem;   
}

.feature-box{ 
    padding: 4.5%;
}


/*icon*/

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color:#ff4c68;
}

/*Testimonials*/
#testimonials{

    background-color: #ef8172;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
/*testimonial-image*/
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width:15%;
    margin: 20px 20px 50px;
}

/* pricing */
#pricing{
    padding: 100px;
}
.pricing{
    padding: 3% 2%;
}
.price-text{
   font-size: 3rem;
   line-height: 1.5; 
}

/*cta*/


/*footer-section*/

.social-icon{
    margin: 20px 10px;
}

@media (max-width:1028px) {

    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);

        

    }
}

